<table>
  <tbody>
    <tr>
      <th>Identifier of the project containing Wiki page</th>
      <td>
        <input type="text" id="settings_wiki_block_project" 
                           value="<%= settings['wiki_block_project'] %>" 
                           name="settings[wiki_block_project]" >
      </td>
    </tr>
    <tr>
      <th>Title of the Wiki page</th>
      <td>
        <input type="text" id="settings_wiki_block_title" 
                           value="<%= settings['wiki_block_title'] %>" 
                           name="settings[wiki_block_title]" >
      </td>
    </tr>
  </tbody>
</table>
