#query_form > p .icon-reload {
  padding-right: 10px;
  border-right: solid 2px;
}

.criteria-remove-link {
  margin-left: 10px;
}

.criteria-remove-link:hover span {
  background-image: url(/images/close_hl.png);
}

.absolute-filters {
  float: right;
  margin-top: 10px;
}

.report-columns-handling {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
}

.report-columns-handling li {
  display: inline-block;
}

.ui-state-highlight {
  min-width: 50px;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
}

table#time-report tbody tr.subtotal td {
  padding-top: 9px;
  padding-bottom: 9px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-style: normal;
}
table#time-report tbody tr.subtotal td.hours {
  color: #666;
}
