#query_form > p .icon-reload {
  padding-right: 10px;
  border-right: solid 2px;
}

.criteria-remove-link {
  margin-left: 10px;
}

.criteria-remove-link:hover span {
  background-image: url(/images/close_hl.png);
}